:root{
  --general: white;
  --primary: lightgrey;
  --secondary: rgb(255, 174, 0);
  --tertiary: grey;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans' Verdana, Geneva, Tahoma, sans-serif;
}
.buttons-container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 64px 64px 64px 64px;
  grid-template-rows: 64px 64px 64px 64px 64px 64px;
}

body{
  background-color: var(--general);
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.display {
 background-color: var(--tertiary);
  grid-column-start: 1;
  grid-column-end: 5; 
  /* padding: 32px */
}


.buttons-container  > .buttons, .display { 
  margin: 1px;  
  font-size: 20px;   
  transition: 0.4s;
  font-weight: 400;
}

.buttons-container  > .buttons{ 
  /* padding: 20px 48px; */
  appearance: none;
  border:  none;
  outline:  none;
  cursor: pointer; 
}

